* {
   margin: 0;
}

body {
   background-color: aliceblue;
}

.header {
   background-color: cornflowerblue;
   height: 100px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: aliceblue;
}

.app {
   text-align: center;
}

.movie {
   margin-top: 50px;
}
